@{
    var data = ViewData["MainData"] as MainData ?? new MainData();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@data.Contact.WebTitle</title>
    <link rel="shortcut icon" type="image/ico" href="@(data.Contact.WebIcon)">
    <!-- Preloader CSS-->
    <style type="text/css">
        [data-tooltip]::before {
            /* needed - do not touch */
            content: attr(data-tooltip);
            position: absolute;
            opacity: 0;
            /* customizable */
            transition: all 0.25s ease;
            padding: 2px;
            color: #333;
        }

        [data-tooltip]:hover::before {
            /* needed - do not touch */
            opacity: 1;
            /* customizable */
            background: #ff8800;
            font-size: 12px;
            color: white;
            margin-top: -40px;
            margin-left: 15px;
        }

        [data-tooltip]:not([data-tooltip-persistent])::before {
            pointer-events: none;
        }

        .table-wrapper {
            max-height: 650px;
            overflow: auto;
            display: inline-block;
        }

        .top-of-site-link[data-visible=true] {
            opacity: 1;
            visibility: visible;
        }

        .top-of-site-link {
            visibility: hidden;
            opacity: 0;
            transition: .2s;
            position: fixed;
            bottom: 1.8rem;
            // right: 1.5rem;
            z-index: 15;
            -webkit-transition: height 1s;
            /* Safari */
            transition: height 1s;
        }

            .top-of-site-link:hover {
                transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
            }

        #preloader:after, #preloader:before {
            content: "";
            display: block;
            left: -1px;
            top: -1px
        }

        #preloader-overlayer, #preloader:after, #preloader:before {
            position: absolute;
            height: 100%;
            width: 100%
        }

        #preloader-overlayer {
            position: fixed;
            top: 0;
            left: 0;
            background-color: #112E3B;
            z-index: 999
        }

        #preloader {
            height: 40px;
            width: 40px;
            position: fixed;
            top: 50%;
            left: 50%;
            margin-top: -20px;
            margin-left: -20px;
            z-index: 9999
        }

            #preloader:before {
                -webkit-animation: rotation 1s linear infinite;
                animation: rotation 1s linear infinite;
                border: 2px solid #42DB0C;
                border-top: 2px solid transparent;
                border-radius: 100%
            }

            #preloader:after {
                border: 1px solid rgba(255,255,255,.1);
                border-radius: 100%
            }

        @@media only screen and (min-width:768px) {
            #preloader {
                height: 60px;
                width: 60px;
                margin-top: -30px;
                margin-left: -30px
            }

                #preloader:before {
                    left: -2px;
                    top: -2px;
                    border-width: 2px
                }
        }

        @@media only screen and (min-width:1200px) {
            #preloader {
                height: 80px;
                width: 80px;
                margin-top: -40px;
                margin-left: -40px
            }
        }

        @@-webkit-keyframes rotation {
            from {
                -webkit-transform: rotate(0);
                transform: rotate(0)
            }

            to {
                -webkit-transform: rotate(359deg);
                transform: rotate(359deg)
            }
        }

        @@keyframes rotation {
            from {
                -webkit-transform: rotate(0);
                transform: rotate(0)
            }

            to {
                -webkit-transform: rotate(359deg);
                transform: rotate(359deg)
            }
        }
    </style>

    <!--
    All CSS Codes Loaded
    Ex: bootstrap, fontawesome, style, etc.
    -->
    <link rel="stylesheet" href="~/assets/libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/libs/fontawesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/assets/libs/linearicons/linearicons.css">
    <link rel="stylesheet" href="~/assets/css/rentnow-icons.css">
    <link rel="stylesheet" href="~/assets/libs/flatpickr/flatpickr.min.css">
    <link rel="stylesheet" href="~/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="~/assets/css/style.css">

    <script src="https://cdn.tiny.cloud/1/5snkf743yzb1rulgf9tjoj4io4yb7jx5mcp5fdj88n5dwnsq/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <!-- Google Map JS-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCKPzJTNkmBcVIoPmrsa61on9lcMoFhJsY"></script>
</head>
<body class="rn-preloader">
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v18.0" nonce="SC7Vn8NC"></script>
    <div id="preloader"></div>
    <div id="preloader-overlayer"></div>

    <!-- Header-->
    <header class="rn-header">

        <!-- Topbar-->
        <div id="topbar-menu" class="rn-topbar" style="background: #3696d0eb;">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12 col-sm-4 col-lg-2">

                        <!-- Tobar Social-->
                        <ul class="rn-social">
                            <li>
                                <a href="@data.Contact.FacebookUrl" target="_blank" rel="noopener noreferrer">
                                    <i class="fab fa-facebook-f" style="font-size: larger; color: #0865fe;"></i>
                                </a>
                            </li>
                            <li>
                                <a href="@data.Contact.TiktokUrl" target="_blank" rel="noopener noreferrer">
                                    <svg style="color: black;" xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-tiktok" viewBox="0 0 16 16">
                                        <path d="M9 0h1.98c.144.715.54 1.617 1.235 2.512C12.895 3.389 13.797 4 15 4v2c-1.753 0-3.07-.814-4-1.829V11a5 5 0 1 1-5-5v2a3 3 0 1 0 3 3z" />
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="@data.Contact.InstagramUrl" target="_blank" rel="noopener noreferrer">
                                    <i class="fab fa-instagram" style="font-size: larger; color: #F56040;"></i>
                                </a>
                            </li>
                            <li>
                                <a href="@data.Contact.TwitterUrl" target="_blank" rel="noopener noreferrer">
                                    <i class="fab fa-twitter" style="font-size: larger; color: #1DA1F2;"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-12 col-sm-8 col-lg-10">
                        <div class="rn-icon-contents">
                            <div class="rn-phone rn-icon-content">
                                <div class="rn-icon">
                                    <i class="lnr lnr-phone"></i>
                                </div>
                                <div class="rn-info">
                                    <ul>
                                        <li><a href="@("tel:"+@data.Contact.Phone)" class="text-hightline" style="color:white !important">@data.Contact.Phone</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="rn-email rn-icon-content">
                                <div class="rn-icon">
                                    <i class="lnr lnr-envelope"></i>
                                </div>
                                <div class="rn-info">
                                    <ul>
                                        <li>
                                            <a href="@("mailto:"+@data.Contact.Email)" class="text-hightline" style="color:white !important">@data.Contact.Email</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="rn-address rn-icon-content">
                                <div class="rn-icon">
                                    <i class="lnr lnr-map-marker"></i>
                                </div>
                                <div class="rn-info">
                                    <ul>
                                        <li class="text-hightline" style="font-size: 16px; color:white !important">@data.Contact.Address</li>
                                    </ul>
                                </div>
                            </div>
                            @if (data.IsAuthenticated)
                            {
                                <div class="rn-address rn-icon-content">
                                    <div class="rn-icon">
                                        <a href="/Home/Reset" title="Đăng xuất">
                                            <i class="fa fa-toggle-off"></i>
                                        </a>
                                    </div>
                                    <div class="rn-info">
                                        <ul>
                                            <li><a href="/Home/Reset" title="Đăng xuất">@data.User.UserName</a></li>
                                        </ul>
                                    </div>
                                </div>
                            }
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="rn-menubar">
            <div class="container" style="max-width: 86%;">
                <div class="row align-items-center">
                    <div class="col-3">
                        <!-- Logo-->
                        <a class="brand-name" href="/Home/Index">
                            <img class="img-fluid img-web-logo" src="@(data.Contact.WebIcon)" alt="Logo">
                        </a><br><span class="web-title" style="color: #b33aeb !important;font-size: 28px;font-weight: bold;">@data.Contact.WebTitleFont</span>
                        <br><span class="web-title text-hightline" style="font-style: italic;">@data.Contact.WebTitleBack</span>
                    </div>
                    <div class="col-9">
                        <nav class="rn-navbar-container">
                            <!-- Navbar Toggle Button for Only Tablet and Phone-->
                            <button class="rn-navbar-toggler" id="rn-navbar-toggler">
                                <span class="rn-navbar-toggler-bar"></span>
                                <span class="rn-navbar-toggler-bar"></span>
                                <span class="rn-navbar-toggler-bar"></span>
                            </button>

                            <!-- Main Nav Menu-->
                            <ul class="rn-navbar" style="background-color: rgb(0 176 255 / 80%);">
                                <li class="active">
                                    <a href="/Home/Index">Trang chủ</a>
                                </li>
                                <li>
                                    <a href="#">
                                        Các điểm đến
                                        <i class="lnr lnr-chevron-down"></i>
                                    </a>
                                    <ul>
                                        <li>
                                            <a href="/tourcat/phong-canh-thien-nhien">Phong cảnh thiên nhiên</a>
                                        </li>
                                        <li>
                                            <a href="/tourcat/di-tich-lich-su">Di tích lịch sử</a>
                                        </li>
                                        <li>
                                            <a href="/tourcat/cong-trinh-kien-truc">Công trình kiến trúc</a>
                                        </li>
                                        <li>
                                            <a href="/tourcat/thang-canh-tam-linh">Thắng cảnh tâm linh</a>
                                        </li>
                                        <li>
                                            <a href="/tourcat/khác">Khác</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">
                                        Tour theo ngày
                                        <i class="lnr lnr-chevron-down"></i>
                                    </a>
                                    <ul>
                                        <li>
                                            <a href="/tourday/1">1 ngày</a>
                                        </li>
                                        <li>
                                            <a href="/tourday/2">2 ngày</a>
                                        </li>
                                        <li>
                                            <a href="/tourday/3">3 ngày</a>
                                        </li>
                                        <li>
                                            <a href="/tourday/4">4 ngày</a>
                                        </li>
                                        <li>
                                            <a href="/tourday/5">Từ 5 ngày</a>
                                        </li>
                                    </ul>
                                </li>
                                @*             <li>
                                <a href="/Home/News">
                                Cẩm nang du lịch
                                </a>
                                </li> *@

                                <li>
                                    <a href="/Home/News">
                                        Tin tức
                                    </a>
                                </li>
                                <li>
                                    <a href="/Home/Service">Dịch vụ</a>
                                </li>
                                <li>

                                    <a href="#">
                                        Liên hệ
                                        <i class="lnr lnr-chevron-down"></i>
                                    </a>
                                    <ul>
                                        <li>
                                            <a href="/Home/Contact">Liên hệ với chúng tôi</a>
                                        </li>
                                        <li>
                                            <a href="/Home/Manage">Quản trị</a>
                                        </li>
                                    </ul>
                                </li>
                                @if (data.IsAuthenticated)
                                {
                                    <li>
                                        <a href="#">
                                            Quản trị
                                            <i class="lnr lnr-chevron-down"></i>
                                        </a>
                                        <ul>
                                            <li>
                                                <a href="/Manage/BookContact">Liên hệ lại khách hàng</a>
                                            </li>
                                            <li>
                                                <a href="/Manage/User">Tài khoản</a>
                                            </li>
                                            <li>
                                                <a href="/Manage/Tour">Điểm đến</a>
                                            </li>
                                            <li>
                                                <a href="/Manage/Contact">Liên hệ</a>
                                            </li>
                                            @*       <li>
                                        <a href="/Manage/Review">Đánh giá</a>
                                        </li> *@
                                            <li>
                                                <a href="/Manage/Banner">Slide giới thiệu</a>
                                            </li>
                                            <li>
                                                <a href="/Manage/News"> Tin tức</a>
                                            </li>
                                        </ul>
                                    </li>
                                }
                            </ul>

                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Menubar-->

    </header>
    <!-- End Header-->
    @RenderBody()

    <!-- Site Footer-->
    <footer class="rn-footer" id="f_contact" tabindex="0">

        <!-- Footer Widgets-->
        <div class="rn-footer-widgets">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">

                        <!-- Widget Item-->
                        <section class="rn-widget">
                            <h2 class="rn-widget-title">Về chúng tôi</h2>
                            <div class="rn-widget-content">
                                <a class="brand-name" href="/Home/Index">
                                    <img class="img-fluid img-web-logo" src="@(data.Contact.WebIcon)" alt="Logo">
                                </a><br><span class="web-title" style="color: #b33aeb !important;font-size: 28px;font-weight: bold;">@data.Contact.WebTitleFont</span>
                                <br><span class="web-title text-hightline" style="font-style: italic;">@data.Contact.WebTitleBack</span>
                                <p>Xem thêm về chúng tôi tại:</p>
                                <ul class="rn-widget-social">
                                    <li>
                                        <a href="@data.Contact.FacebookUrl" target="_blank" rel="noopener noreferrer">
                                            <i class="fab fa-facebook-f" style="font-size: larger; color: #0865fe;"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@data.Contact.TiktokUrl" target="_blank" rel="noopener noreferrer">
                                            <svg style="color: black;" xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-tiktok" viewBox="0 0 16 16">
                                                <path d="M9 0h1.98c.144.715.54 1.617 1.235 2.512C12.895 3.389 13.797 4 15 4v2c-1.753 0-3.07-.814-4-1.829V11a5 5 0 1 1-5-5v2a3 3 0 1 0 3 3z" />
                                            </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@data.Contact.InstagramUrl" target="_blank" rel="noopener noreferrer">
                                            <i class="fab fa-instagram" style="font-size: larger; color: #F56040;"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@data.Contact.TwitterUrl" target="_blank" rel="noopener noreferrer">
                                            <i class="fab fa-twitter" style="font-size: larger; color: #1DA1F2;"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </section>
                        <!-- End Widget Item-->

                    </div>
                    <div class="col-md-5">

                        <!-- Widget Item-->
                        <section class="rn-widget">
                            <h2 class="rn-widget-title">Liên kết nhanh</h2>
                            <div class="rn-widget-content">
                                <div class="row rn-quick-links">
                                    <div class="col-6">
                                        <ul>
                                            <li>
                                                <a href="/Home/Contact">Giới thiệu</a>
                                            </li>
                                            <li>
                                                <a href="/Home/Contact">Liên hệ</a>
                                            </li>
                                            <li>
                                                <a href="/Home/Service">Hỗ trợ</a>
                                            </li>
                                            <li>
                                                <a href="/Product/ProductsList">Đặt chỗ</a>
                                            </li>
                                            <li>
                                                <a href="/Home/News">Cẩm nang du lịch</a>
                                            </li>
                                            <li>
                                                <a href="/Home/News">Tin tức</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-6">
                                        <ul>
                                            <li>
                                                <a href="/Home/Contact">Bản đồ điểm đến</a>
                                            </li>
                                            <li>
                                                <a href="/Home/News">Thời tiết</a>
                                            </li>
                                            <li>
                                                <a href="/Home/News">Cộng đồng</a>
                                            </li>
                                            <li>
                                                <a href="/Home/News">Hình ảnh</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- End Widget Item-->

                    </div>
                    <div class="col-md-3">
                        <!-- Widget Item-->
                        <section class="rn-widget">
                            <h2 class="rn-widget-title">Liên hệ ngay</h2>
                            <div class="rn-widget-content">
                                <div class="rn-icon-contents">
                                    <div class="rn-phone rn-icon-content" data-tooltip="Bấm vào để liên hệ tư vấn ngay">
                                        <div class="rn-icon">
                                            <i class="lnr lnr-phone"></i>
                                        </div>
                                        <div class="rn-info">
                                            <ul>
                                                <li>
                                                    <a href="@("tel:"+@data.Contact.Phone)" class="text-hightline" style="color:white !important">@data.Contact.Phone</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="rn-email rn-icon-content" data-tooltip="Bấm vào để liên hệ tư vấn ngay">
                                        <div class="rn-icon">
                                            <i class="lnr lnr-envelope"></i>
                                        </div>
                                        <div class="rn-info">
                                            <ul>
                                                <li>
                                                    <a href="@("mailto:"+@data.Contact.Email)" class="text-hightline" style="color:white !important">@data.Contact.Email</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="rn-address rn-icon-content">
                                        <div class="rn-icon">
                                            <i class="lnr lnr-map-marker"></i>
                                        </div>
                                        <div class="rn-info">
                                            <ul>
                                                <li class="text-hightline" style="color:white !important">@data.Contact.Address</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- End Widget Item-->

                        <section class="rn-widget">
                            <h2 class="rn-widget-title">Thông tin thanh toán</h2>
                            <div class="rn-widget-content">
                                <div class="rn-icon-contents">
                                    <div class="rn-phone rn-icon-content">
                                        <div class="rn-icon">
                                            <i>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-credit-card" viewBox="0 0 16 16">
                                                    <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v1h14V4a1 1 0 0 0-1-1zm13 4H1v5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1z" />
                                                    <path d="M2 10a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z" />
                                                </svg>
                                            </i>
                                        </div>
                                        <div class="rn-info">
                                            <ul>
                                                <li style="font-size: 16px;color:white !important">@data.Contact.BankAccount</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="rn-email rn-icon-content">
                                        <span class="rn-pyament-methods">
                                            <span style="font-size: 13px;">Thanh toán linh hoạt</span>
                                            <img src="~/assets/images/payments.png" />
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer Widgets-->
        <!-- Footer Copyright-->
        <div class="rn-footer-copyright">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <p font-size: 0.85714rem;>Copyright &copy; HD @DateTime.Now.Year. All rights reserved.</p>
                    </div>
                    <div class="col-md-6 text-right">
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer Copyright-->
        <a href="#top-of-site" onclick="topFunction()" id="top-of-site" title="Trở về đầu trang" class="top-of-site-link" style="right: 1.5rem;" data-visible="true">
            <svg width="32" height="32" viewBox="0 0 100 100">
                <path fill="violet" d="m50 0c-13.262 0-25.98 5.2695-35.355 14.645s-14.645 22.094-14.645 35.355 5.2695 25.98 14.645 35.355 22.094 14.645 35.355 14.645 25.98-5.2695 35.355-14.645 14.645-22.094 14.645-35.355-5.2695-25.98-14.645-35.355-22.094-14.645-35.355-14.645zm20.832 62.5-20.832-22.457-20.625 22.457c-1.207 0.74219-2.7656 0.57812-3.7891-0.39844-1.0273-0.98047-1.2695-2.5273-0.58594-3.7695l22.918-25c0.60156-0.61328 1.4297-0.96094 2.2891-0.96094 0.86328 0 1.6914 0.34766 2.293 0.96094l22.918 25c0.88672 1.2891 0.6875 3.0352-0.47266 4.0898-1.1562 1.0508-2.9141 1.0859-4.1133 0.078125z"></path>
            </svg>
        </a>
        <a id="msnnr_btn_anc" href="@(ViewData["MessagerUrl"])" class="top-of-site-link" data-visible="true" style="bottom: 5.8rem; right: 1.5rem;" target="_blank" rel="noopener noreferrer">

            <div id="messenger_button">
                <div class="messenger_column btn_icon">
                    <i id="msngr_btn_icon" style="color: #0865fe;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="46" height="46" fill="currentColor" class="bi bi-messenger" viewBox="0 0 16 16">
                            <path d="M0 7.76C0 3.301 3.493 0 8 0s8 3.301 8 7.76-3.493 7.76-8 7.76c-.81 0-1.586-.107-2.316-.307a.639.639 0 0 0-.427.03l-1.588.702a.64.64 0 0 1-.898-.566l-.044-1.423a.639.639 0 0 0-.215-.456C.956 12.108 0 10.092 0 7.76m5.546-1.459-2.35 3.728c-.225.358.214.761.551.506l2.525-1.916a.48.48 0 0 1 .578-.002l1.869 1.402a1.2 1.2 0 0 0 1.735-.32l2.35-3.728c.226-.358-.214-.761-.551-.506L9.728 7.381a.48.48 0 0 1-.578.002L7.281 5.98a1.2 1.2 0 0 0-1.735.32z" />
                        </svg>
                    </i>
                </div>
            </div>
        </a>
        <a id="msnnr_btn_anc" href="@("https://zalo.me/"+@data.Contact.Phone)" class="top-of-site-link" data-visible="true" style="bottom: 10.8rem;right: .9rem;" target="_blank" rel="noopener noreferrer">

            <div id="messenger_button">
                <div class="messenger_column btn_icon">
                    <i id="msngr_btn_icon">
                        <img src="~/assets/images/customs/icons8-zalo.svg" />
                    </i>
                </div>
            </div>
        </a>
        <a href="@("tel:"+@data.Contact.Phone)" class="top-of-site-link text-hightline" data-visible="true" style="bottom: 5.8rem; left:1.5rem; font-size:x-large">
            <div id="messenger_button">
                <svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" fill="currentColor" class="bi bi-telephone-forward" viewBox="0 0 16 16">
                    <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511zm10.762.135a.5.5 0 0 1 .708 0l2.5 2.5a.5.5 0 0 1 0 .708l-2.5 2.5a.5.5 0 0 1-.708-.708L14.293 4H9.5a.5.5 0 0 1 0-1h4.793l-1.647-1.646a.5.5 0 0 1 0-.708z" />
                </svg>
                @data.Contact.Phone
            </div>

        </a>
    </footer>
    <!-- End Site Footer-->
    <!--
    All JavaScripts Codes Loaded
    Ex: jquery, bootstrap, etc.
    -->

    <script src="~/assets/js/jquery.min.js" type="text/javascript"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/libs/flatpickr/flatpickr.min.js"></script>
    <script src="~/assets/js/starrr.min.js"></script>
    <script src="~/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="~/assets/js/scripts.js"></script>
    <script>
        // Get the button
        let mybutton = document.getElementById("top-of-site");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () { scrollFunction() };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            // document.body.scrollTop = 0;
            // document.documentElement.scrollTop = 0;
            scrollToTargetAdjusted('topbar-menu');
        }

        function scrollToTargetAdjusted(targetElement) {
            var element = document.getElementById(targetElement);
            var headerOffset = 35;
            var elementPosition = element.getBoundingClientRect().top;
            var offsetPosition = elementPosition + window.pageYOffset - headerOffset;

            window.scrollTo({
                top: offsetPosition,
                behavior: "smooth"
            });
        }

        function scrollToTarget(targetElement) {
            var element = document.getElementById(targetElement);
            var headerOffset = 1800;
            var elementPosition = element.getBoundingClientRect().top;
            var offsetPosition = elementPosition + window.pageYOffset - headerOffset;

            window.scrollTo({
                top: offsetPosition,
                behavior: "smooth"
            });
        }
    </script>
</body>
</html>