@model MainData

@{
    int dayNumbers = ViewData["dayNumbers"] != null ? (int)ViewData["dayNumbers"] : 1;
    string type = ViewData["type"] != null ? (string)ViewData["type"] : "Phong cảnh thiên nhiên";
}
<!-- Page Title-->
<div class="rn-page-title" id="rn-page-productslist">
    <div class="rn-pt-overlayer"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="rn-page-title-inner">
                    <h1>Các điểm đến</h1>
                    <p>Danh sách các điểm đến nổi bật mà bạn không thể bỏ qua.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page Title-->
<!-- Car Results-->
<div class="rn-section rn-car-search-results">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <!-- Car Search Filters-->
                <div class="rn-car-search-filters">
                    <div class="rn-car-search-filter-item">
                        <label>Loại điểm đến:</label>
                        <select id="sel-type" onchange="ChangeType()">
                            <option value="Phong cảnh thiên nhiên">Phong cảnh thiên nhiên</option>
                            <option value="Di tích lịch sử">Di tích lịch sử</option>
                            <option value="Công trình kiến trúc">Công trình kiến trúc</option>
                            <option value="Thắng cảnh tâm linh">Thắng cảnh tâm linh</option>
                        </select>
                    </div>
                    <div class="rn-car-search-filter-item">
                        <label>Số ngày:</label>
                        <select id="sel-day-numbers" onchange="ChangeDayNumbers()">
                            <option value="1">1 ngày</option>
                            <option value="2">2 ngày</option>
                            <option value="3">3 ngày</option>
                            <option value="4">4 ngày</option>
                            <option value="5">Từ 5 ngày</option>
                        </select>
                    </div>
                    @*  <div class="rn-car-search-filter-item">
                    <label>Số người:</label>
                    <select>
                    <option value="Một mình">Một mình</option>
                    <option value="Cặp đôi">Cặp đôi</option>
                    <option value="Dưới 10 người">Dưới 10 người</option>
                    <option value="Khách đoàn">Khách đoàn</option>
                    </select>
                    </div> *@
                    <div class="rn-car-search-filter-item rn-csf-item-last">
                        <label>Sắp xếp theo:</label>
                        <select>
                            <option value="Nổi bật">Nổi bật</option>
                            <option value="Lượt đánh giá">Lượt đánh giá</option>
                            <option value="Giá: Thấp đến cao">Giá: thấp đến cao</option>
                            <option value="Giá: Cao đến thấp">Giá: cao đến thấp</option>
                            <option value="Khoảng cách: Gần đến xa">Khoảng cách: tăng dần</option>
                            <option value="Khoảng cách: Xa đến Gần">Khoảng cách: giảm dần</option>
                        </select>
                    </div>
                </div>
                <!-- End Car Search Filters-->
                <!-- Car Search Item-->
                @foreach (var tour in Model.Tours)
                {
                    <div class="rn-car-search-item">
                        <div class="rn-car-search-item-thumb">
                            <a href="@("/Product/ProductDetail?productId="+tour.Id)">
                                <img class="img-fluid" src="@tour.Img" alt="@tour.Title" />
                            </a>
                        </div>
                        <div class="rn-car-search-item-info">
                            <h2 class="rn-car-search-item-title">
                                <a href="@("/Product/ProductDetail?productId="+tour.Id)">@tour.Title</a>
                            </h2>
                            <div class="rn-car-reviews">
                                <div class="rn-car-stars">
                                    @for (int i = 0; i < Math.Round(tour.Rate ?? 0); i++)
                                    {
                                        <i class="fas fa-star"></i>
                                    }
                                </div>
                                <a href="@("/Product/ProductDetail?productId="+tour.Id)">@(Math.Round(tour.Rate ?? 0)) Nhận xét</a>
                            </div>
                            <p style="white-space:pre-wrap;">@tour.Description</p>
                            <div class="rn-car-meta">
                                <span>
                                    <i class="fa fa-check"></i> @tour.Booking đã đặt
                                </span>
                                <span>
                                    <i class="rni-suitcase"></i> Có chỗ nghỉ
                                </span>
                                <span data-tooltip="Tính từ thành phố Điện Biên Phủ">
                                    <i class="fa fa-car"></i> Cách @tour.Traffic km
                                </span>
                                <span>
                                    <i class="fa fa-calendar"></i> @tour.DayNumbers ngày
                                </span>
                            </div>
                            <a class="rn-car-more-info" href="@("/Product/ProductDetail?productId="+tour.Id)">Thông tin thêm</a>
                        </div>
                        <div class="rn-car-search-item-pricing">
                            <div class="rn-car-total-price">
                                <span>@(String.Format("{0:0,0}", (tour.Price ?? 0)))</span> VNĐ
                            </div>
                            <div class="rn-car-price">
                                <span>(giá cũ @(String.Format("{0:0,0}", (tour.Price ?? 0) * 1.5)))</span>
                            </div>
                            <a class="btn btn-main btn-lg btn-shadow" href="@(ViewData["MessagerUrl"])" target="_blank" rel="noopener noreferrer" data-tooltip="Bấm vào để liên hệ tư vấn ngay">Đặt ngay</a>
                        </div>
                    </div>
                }
                <div class="text-center">
                    <a class="btn btn-lg btn-outline-light mb-40" href="#">Xem thêm</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function docReady(fn) {
        debugger;
        // see if DOM is already available
        if (document.readyState === "complete" || document.readyState === "interactive") {
            // call on next available tick
            $('#sel-type').val('@type');
            $('#sel-day-numbers').val('@dayNumbers');
        }
    }

    function ChangeDayNumbers() {
        var e = document.getElementById("sel-day-numbers");
        window.location.href = "/Product/ProductsListByDays?dayNumbers=" + e.value;
    }

    function ChangeType() {
        var e = document.getElementById("sel-type");
        window.location.href = "/Product/ProductsList?type=" + e.value;
    }
</script>
<!-- End Car Results-->