@model MainData
<!-- Slider-->
<div class="rn-carousel carousel slide" id="carouselExampleControls" data-ride="carousel">
    <div class="carousel-inner">
        @foreach (var slider in Model.BannerSliders)
        {
            <div class="@($"carousel-item " + (Model.BannerSliders.IndexOf(slider) == 0 ? "beactive" : ""))">
                <div class="carousel-caption">
                    <h2 class="rn-fade-bottom mb-25">@slider.Title</h2>
                    <p class="rn-fade-bottom rn-caption-item-2 mb-35">@slider.Description</p>
                    <a class="btn btn-main btn-lg rn-fade-bottom rn-caption-item-3" href="@(ViewData["MessagerUrl"])" target="_blank" rel="noopener noreferrer" data-tooltip="Bấm vào để liên hệ tư vấn ngay">Liên hệ ngay</a>
                </div>
                <div class="rn-slider-overlayer"></div>
                <img class="d-block w-100" src="@(slider.Img)" alt="slide">
            </div>
        }
        <div class="carousel-item">
            <div class="carousel-caption">
                <h2 class="rn-fade-bottom mb-25">Hãy liên hệ ngay với chúng tôi để được tư vấn</h2>
                <p class="rn-fade-bottom rn-caption-item-2 mb-35">Hành trình đa dạng cùng đội ngũ tư vấn viên nhiệt tình chắc chắn sẽ làm bạn hài lòng.</p>
                <a class="btn btn-main btn-lg rn-fade-bottom rn-caption-item-3" href="@(ViewData["MessagerUrl"])" target="_blank" rel="noopener noreferrer" data-tooltip="Bấm vào để liên hệ tư vấn ngay">Liên hệ ngay</a>
            </div>
            <div class="rn-slider-overlayer"></div>
            <img class="d-block w-100" src="~/assets/images/customs/slide_000.jpg" alt="slide">
        </div>
    </div>
    <!-- Slider Controls -->
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="lnr lnr-chevron-left" aria-hidden="true"></span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="lnr lnr-chevron-right" aria-hidden="true"></span>
    </a>
</div>
<!-- End slider-->
<!-- Car Search Form-->
<section class="rn-search-form-big rn-section" id="f_benefit" tabindex="0">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <!-- Section Title-->
                <div class="rn-section-title  rn-title-bg-color-white-10 rn-title-color-white">
                    <h2 class="rn-title">Tìm kiếm chuyến đi phù hợp với bạn</h2>
                    <span class="rn-title-bg">Tìm kiếm chuyến đi phù hợp với bạn</span>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">

                <!-- Main Big Search Form-->
                <div class="rn-big-search-form rn-big-search-form-dark">
                    <form action="/Product/ProductsList">
                        <div class="row">
                            <div class="col-lg-3 col-sm-6">
                                <div class="rn-icon-input">
                                    <i class="fas fa-map-marker-alt"></i>
                                    <input type="text" placeholder="Nơi đi">
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="rn-icon-input">
                                    <i class="fas fa-map-marker-alt"></i>
                                    <input type="text" placeholder="Điểm đến">
                                </div>
                            </div>
                            <div class="col-lg-3 rn-date-time-input">
                                <div class="row">
                                    <div class="col-lg-7 col-md-8 col-8">
                                        <div class="rn-icon-input">
                                            <i class="far fa-calendar-alt"></i>
                                            <input type="text" placeholder="Từ ngày" id="pickup-date">
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-md-4 col-4">
                                        <div class="rn-icon-input">
                                            <i class="far fa-clock"></i>
                                            <input type="text" placeholder="Time" id="pickup-time">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 rn-date-time-input">
                                <div class="row">
                                    <div class="col-lg-7 col-md-8 col-8">
                                        <div class="rn-icon-input">
                                            <i class="far fa-calendar-alt"></i>
                                            <input type="text" placeholder="Đến ngày" id="drop-date">
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-md-4 col-4">
                                        <div class="rn-icon-input">
                                            <i class="far fa-clock"></i>
                                            <input type="text" placeholder="Time" id="drop-time">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <button class="btn btn-orange btn-lg mt-30 btn-shadow" type="submit">
                                <i class="fas fa-search"></i> Tìm kiếm
                            </button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <!-- Section Shape-->
    <div class="rn-shape rn-shape-bottom">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
            <path class="rn-shape-fill" d="M500.2,94.7L0,0v100h1000V0L500.2,94.7z" />
        </svg>
    </div>
</section>
<section class="rn-section rn-section-light-gray" id="f_tours" tabindex="0">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="rn-section-title  rn-title-bg-color-white ">
                    <h2 class="rn-title">Các điểm đến nổi bật</h2>
                    <p>Nơi có những điểm đến đang được ưa thích và lựa chọn nhiều nhất bởi các khách hàng của chúng tôi.</p>
                    <span class="rn-title-bg">Các điểm đến nổi bật</span>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var tour in Model.Tours.OrderByDescending(e => e.Rate).Take(6).ToList())
            {
                <div class="col-lg-4 col-md-6" data-tooltip="Bấm vào để liên hệ tư vấn ngay">
                    <div class="rn-car-item">
                        <div class="rn-car-item-review">
                            <div class="fas fa-star"></div> @tour.Rate
                        </div>
                        <div class="rn-car-item-thumb">
                            <a href="@("/tour/"+tour.LinkUrl)">
                                <img class="img-fluid" src="@(tour.Img)" alt="@tour.Title" />
                            </a>
                        </div>
                        <div class="rn-car-item-info">
                            <h3>
                                <a href="@("/tour/"+tour.LinkUrl)">@tour.Title</a>
                            </h3>
                            <p style="white-space:pre-wrap;">@tour.Description</p>
                            <div class="rn-car-list-n-price">
                                @* <ul>
                            @foreach (var desc in tour.TourDescriptions)
                            {
                            <li>@desc.Description</li>
                            }
                            </ul> *@
                                <div style="margin-right:15px;width: 40%;">
                                    <div>
                                        <i class="fa fa-check"></i> @tour.Booking đã đặt
                                    </div>
                                    <div>
                                        <i class="rni-suitcase"></i> Có chỗ nghỉ
                                    </div>
                                    <div data-tooltip="Tính từ thành phố Điện Biên Phủ">
                                        <i class="fa fa-car"></i> Cách @tour.Traffic km
                                    </div>
                                    <div>
                                        <i class="fa fa-calendar"></i> @tour.DayNumbers ngày
                                    </div>
                                </div>
                                <div class="rn-car-price-wrap">
                                    <a class="rn-car-price" href="@(ViewData["MessagerUrl"])" target="_blank" rel="noopener noreferrer">
                                        <span class="rn-car-price-from">Chỉ từ</span>
                                        <span class="rn-car-price-format">
                                            <span class="rn-car-price-amount">@(String.Format("{0:0,0}", (tour.Price ?? 0)))</span>
                                            <span class="rn-car-price-per">VNĐ</span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
@* <section class="rn-section" id="f_category" tabindex="0">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="rn-section-title   ">
                    <h2 class="rn-title">Lựa chọn theo sở thích</h2>
                    <p>Nơi bạn có thể lựa chọn được chuyến đi ưng ý theo nhu cầu của mình.</p>
                    <span class="rn-title-bg">Lựa chọn theo sở thích của bạn</span>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-6 col-md-4">
                <div class="rn-car-type">
                    <a href="/Product/ProductsList">
                        <span class="rn-car-type-icon">
                            <i class="fa fa-motorcycle" aria-hidden="true"></i>
                        </span>
                        <span class="rn-car-type-title">Khám phá</span>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-6 col-md-4">
                <div class="rn-car-type">
                    <a href="/Product/ProductsList">
                        <span class="rn-car-type-icon">
                            <i class="fa fa-umbrella" aria-hidden="true"></i>
                        </span>
                        <span class="rn-car-type-title">Nghỉ dưỡng</span>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-6 col-md-4">
                <div class="rn-car-type">
                    <a href="/Product/ProductsList">
                        <span class="rn-car-type-icon">
                            <i class="fa fa-coffee" aria-hidden="true"></i>
                        </span>
                        <span class="rn-car-type-title">Ẩm thực</span>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-6 col-md-4">
                <div class="rn-car-type">
                    <a href="/Product/ProductsList">
                        <span class="rn-car-type-icon">
                            <i class="fa fa-heart" aria-hidden="true"></i>
                        </span>
                        <span class="rn-car-type-title">Trải nghiệm</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section> *@
<section class="rn-section rn-fun-fact" id="f_review" tabindex="0">
    <div class="rn-section-overlayer"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="rn-section-title rn-title-pos-left rn-title-bg-color-white-10 rn-title-color-white">
                    <h2 class="rn-title">Cảm nhận của khách hàng về dịch vụ của chúng tôi</h2>
                    <span class="rn-title-bg">Cảm nhận của khách hàng</span>
                </div>
                <div class="rn-testimonials rn-testimonials2">
                    <div class="rn-testimonials-carousel carousel slide" id="rn-testimonials" data-ride="carousel">
                        <div class="carousel-inner">

                            @foreach (var item in Model.Reviews)
                            {
                                if (Model.Reviews.IndexOf(item) == 0)
                                {
                                    <div class="carousel-item active">
                                        <blockquote class="rn-testimonial2-item">
                                            <p>@item.Content</p>
                                            <footer>
                                                <div class="rn-testimonial-author">
                                                    <strong>@item.Name</strong>
                                                    <p>@item.Note</p>
                                                </div>
                                            </footer>
                                        </blockquote>
                                    </div>
                                }
                                else
                                {
                                    <div class="carousel-item">
                                        <blockquote class="rn-testimonial2-item">
                                            <p>@item.Content</p>
                                            <footer>
                                                <div class="rn-testimonial-author">
                                                    <strong>@item.Name</strong>
                                                    <p>@item.Note</p>
                                                </div>
                                            </footer>
                                        </blockquote>
                                    </div>
                                }
                            }
                        </div>
                        <ol class="carousel-indicators">
                            <li class="active" data-target="#rn-testimonials" data-slide-to="0"></li>
                            <li data-target="#rn-testimonials" data-slide-to="1"></li>
                            <li data-target="#rn-testimonials" data-slide-to="2"></li>
                            <li data-target="#rn-testimonials" data-slide-to="3"></li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-6">
                        <div class="rn-counter-item">
                            <div class="rn-counter-number-container">
                                <span class="rn-counter-number">@Model.User.TourNum</span>+
                            </div>
                            <div class="rn-counter-text">Điểm đến sẵn sàng để lựa chọn</div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="rn-counter-item">
                            <div class="rn-counter-number-container">
                                <span class="rn-counter-number">@Model.User.BookingNum</span>+
                            </div>
                            <div class="rn-counter-text">Đã book trong tháng này</div>
                        </div>
                    </div>
                    <div class="col-6">

                        <div class="rn-counter-item">
                            <div class="rn-counter-number-container">
                                <span class="rn-counter-number">@Model.User.CustomerNum</span>+
                            </div>
                            <div class="rn-counter-text">Khách hàng lựa chọn chúng tôi</div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="rn-counter-item">
                            <div class="rn-counter-number-container">
                                <span class="rn-counter-number">@Model.User.SharePercent+</span>&#x00025;+
                            </div>
                            <div class="rn-counter-text">Hài lòng và giới thiệu cho bạn bè</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="rn-section" id="f_news" tabindex="0">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="rn-section-title">
                    <h2 class="rn-title">Tin tức và Sự kiện</h2>
                    <p>Nơi cập nhật các thông tin, kinh nghiệm hữu ích về du lịch.</p>
                    <span class="rn-title-bg">Tin tức và Cẩm nang du lịch</span>
                </div>
            </div>
        </div>
        <div class="row rn-post-list">
            @foreach (var item in Model.News)
            {
                <div class="col-md-4">
                    <div class="rn-post-item rn-post-size-sm">
                        <div class="rn-post-item-thumb">
                            <a href="@($"/news/{item.LinkUrl}")">
                                <img class="img-fluid" src="@(item.Img)" alt="@item.Title" />
                            </a>
                        </div>
                        <div class="rn-post-item-header">
                            <div class="rn-post-date">
                                <div class="rn-post-date-inner">
                                    <div class="rn-post-date-d">@item.PostDay</div>
                                    <div class="rn-post-date-m-y">@item.PostMonth</div>
                                </div>
                            </div>
                            <div class="rn-post-item-title-meta">
                                <div class="rn-post-item-title-meta-inner">
                                    <div class="rn-post-item-meta">
                                        <span class="rn-post-item-author">
                                            <span>@item.Category</span>
                                        </span>
                                    </div>
                                    <h3 class="rn-post-item-title">
                                        <a href="@($"/news/{item.LinkUrl}")">@item.Title</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!-- End Recent New/Posts-->
<section class="rn-section" id="f_benefit" tabindex="0">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="rn-section-title">
                    <h2 class="rn-title">Tại sao nên chọn chúng tôi?</h2>
                    <p>Sự uy tín và phục vụ khách hàng tận tâm là tôn chỉ của chúng tôi.</p>
                    <span class="rn-title-bg">Tại sao nên chọn chúng tôi?</span>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var benefit in Model.Benefits)
            {
                <div class="col-lg-3 col-md-6">
                    <div class="rn-dot-feature">
                        <div class="rn-the-dot"></div>
                        <div class="rn-dot-feature-info">
                            <h3>@benefit.Title</h3>
                            <p>@benefit.Description</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<script>

</script>