@model MainData
<!-- Page Title-->
<div class="rn-page-title" id="rn-page-news">
    <div class="rn-pt-overlayer"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="rn-page-title-inner">
                    <h1>Tin tức và Cẩm nang du lịch</h1>
                    <p>Cập nhật các thông tin về du lịch và nơi các kinh nghiệm hữu ích được chia sẻ.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page Title-->
<!-- Page Content-->
<div class="rn-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 rn-post-list">
                <!-- Post Pagination-->
                <div id="list-data">
                    @Html.Partial("_NewsList_PartialView", Model.CurrentNews)
                </div>

                <div class="text-center">
                    <a class="btn btn-lg btn-outline-light mb-40" id="btn-show-more" href="#" onclick="GoPage()">Xem thêm</a>
                </div>
            </div>
            <div class="col-lg-4">

                <!-- Sidebar-->
                <aside class="rn-widget-area" id="secondary">
                    <!-- Widget Item-->
                    <section class="rn-widget">
                        <h2 class="rn-widget-title">Thể loại</h2>
                        <div class="rn-widget-content">
                            <ul>
                                <li>
                                    <a href="/newscat/diem-du-lich">Điểm du lịch</a>
                                </li>
                                <li>
                                    <a href="/newscat/kinh-nghiem">Kinh nghiệm</a>
                                </li>
                                <li>
                                    <a href="/newscat/anh-dep">Ảnh đẹp</a>
                                </li>
                                <li>
                                    <a href="/newscat/blog">Blog</a>
                                </li>
                                <li>
                                    <a href="/newscat/khac">Khác</a>
                                </li>
                            </ul>
                        </div>
                    </section>
                    <!-- End Widget Item-->
                    <!-- Widget Item-->
                    <section class="rn-widget">
                        <h2 class="rn-widget-title">Các bài khác</h2>
                        <div class="rn-widget-content">
                            <ul class="rn-recent-posts">
                                <!-- Extra Small Post-->
                                @foreach (var item in (ViewData["NewsAll"] as List<News>).Where(e => !Model.News.Select(m => m.Id).Contains(e.Id)).Skip(0).Take(3).OrderByDescending(e => e.Like).ToList())
                                {
                                    <li>
                                        <div class="rn-recent-post-item">
                                            <div class="rn-recent-post-item-thumb">
                                                <a href="@($"/news/{item.LinkUrl}")">
                                                    <img class="img-fluid" src="@(item.Img)" alt="@item.Title" />
                                                </a>
                                            </div>
                                            <div class="rn-recent-post-item-info">
                                                <div class="rn-recent-post-item-meta">
                                                    <span class="rn-post-item-author">
                                                        <span>@item.Category</span>
                                                    </span>
                                                </div>
                                                <div class="rn-recent-post-item-title">
                                                    <h3>
                                                        <a href="@($"/news/{item.LinkUrl}")">@item.Title</a>
                                                    </h3>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                }
                                <!-- End Extra Small Post-->
                            </ul>
                        </div>
                    </section>
                    <!-- End Widget Item-->
                    <!-- Widget Item-->
                    <section class="rn-widget">
                        <h2 class="rn-widget-title">Tags</h2>
                        <div class="rn-widget-content">
                            <div class="tags">
                                <a href="#">ảnh</a>
                                <a href="#">đèo</a>
                                <a href="#">săn mây</a>
                                <a href="#">thuê xe</a>
                                <a href="#">pha đin</a>
                                <a href="#">leo núi</a>
                                <a href="#">phượt</a>
                            </div>
                        </div>
                    </section>
                    <!-- End Widget Item-->
                </aside>
                <!-- End Sidebar-->
            </div>
        </div>
    </div>
</div>
<!-- End Page Content-->
<script>
    function GoPage() {
        $.ajax({
            url: '@Url.Action("GoPageNews", "Home")',
            method: "GET",
            success: function (data) {
                $("#list-data").html(data);
                scrollToTarget('btn-show-more');
            }
        });
    }
</script>