@model MainData
<!-- Page Title-->
<div class="rn-page-title" id="rn-page-news">
    <div class="rn-pt-overlayer"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="rn-page-title-inner">
                    <h1>Tin tức và Cẩm nang du lịch</h1>
                    <p>Cập nhật các thông tin về du lịch và nơi các kinh nghiệm hữu ích được chia sẻ.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page Title-->
<!-- Page Content-->
<div class="rn-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 rn-post-list">

                <!-- Blog Post Item -->
                @foreach (var item in Model.News.Take(3).ToList())
                {
                    <article class="rn-post-item rn-post-size-lg">
                        <div class="rn-post-item-thumb">
                            <a href="@(item.LinkUrl)" target="_blank" rel="noopener noreferrer">
                                <img class="img-fluid" src="@(item.Img)" alt="@item.Title" />
                            </a>
                        </div>
                        <div class="rn-post-item-header">
                            <div class="rn-post-date">
                                <div class="rn-post-date-inner">
                                    <div class="rn-post-date-d">@item.PostDay</div>
                                    <div class="rn-post-date-m-y">@item.PostMonth</div>
                                </div>
                            </div>
                            <div class="rn-post-item-title-meta">
                                <div class="rn-post-item-title-meta-inner">
                                    <div class="rn-post-item-meta">
                                        <span class="rn-post-item-categories">
                                            Ở
                                            <a href="@(item.LinkUrl)" target="_blank" rel="noopener noreferrer">@item.Site</a>
                                        </span>
                                        <span class="rn-post-item-author">
                                            Bởi
                                            <a href="@(item.LinkUrl)" target="_blank" rel="noopener noreferrer">@item.Author</a>
                                        </span>
                                    </div>
                                    <h3 class="rn-post-item-title">
                                        <a href="@(item.LinkUrl)" target="_blank" rel="noopener noreferrer">@item.Title</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="rn-post-item-body">
                            <p>@item.Description</p>
                        </div>
                        <div class="rn-post-item-footer">
                            <div class="rn-post-read-more">
                                <a class="btn btn-dark" href="@(item.LinkUrl)">Đọc thêm</a>
                            </div>
                            <ul class="rn-post-love-n-view">
                                <li>
                                    <button>
                                        <i class="fas fa-heart"></i>
                                    </button>
                                    <span>@(item.Like + "k")</span>
                                </li>
                                <li>
                                    <span class="rn-post-view-icon">
                                        <i class="far fa-eye"></i>
                                    </span>
                                    <span>@(item.View + "k")</span>
                                </li>
                            </ul>
                        </div>
                    </article>
                }
                <!-- End Blog Post Item -->
                <!-- Post Pagination-->
                <nav class="rn-pagination">
                    <ul>
                        <li>
                            <a href="#">
                                <i class="fas fa-angle-left"></i>
                            </a>
                        </li>
                        <li>
                            <a class="rn-active" href="#">1</a>
                        </li>
                        <li>
                            <a href="#">2</a>
                        </li>
                        <li>
                            <a href="#">3</a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fas fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-4">

                <!-- Sidebar-->
                <aside class="rn-widget-area" id="secondary">
                    <!-- Widget Item-->
                    <section class="rn-widget">
                        <h2 class="rn-widget-title">Thể loại</h2>
                        <div class="rn-widget-content">
                            <ul>
                                <li>
                                    <a href="#">Điểm du lịch</a>
                                </li>
                                <li>
                                    <a href="#">Kinh nghiệm</a>
                                </li>
                                <li>
                                    <a href="#">Ảnh đẹp</a>
                                </li>
                                <li>
                                    <a href="#">Blog</a>
                                </li>
                            </ul>
                        </div>
                    </section>
                    <!-- End Widget Item-->
                    <!-- Widget Item-->
                    <section class="rn-widget">
                        <h2 class="rn-widget-title">Các bài khác</h2>
                        <div class="rn-widget-content">
                            <ul class="rn-recent-posts">
                                <!-- Extra Small Post-->
                                @foreach (var item in Model.News.Skip(3).Take(3).ToList())
                                {
                                    <li>
                                        <div class="rn-recent-post-item">
                                            <div class="rn-recent-post-item-thumb">
                                                <a href="@(item.LinkUrl)" target="_blank" rel="noopener noreferrer">
                                                    <img class="img-fluid" src="@(item.Img)" alt="@item.Title" />
                                                </a>
                                            </div>
                                            <div class="rn-recent-post-item-info">
                                                <div class="rn-recent-post-item-meta">
                                                    <span class="rn-post-item-categories">
                                                        Ở
                                                        <a href="@(item.LinkUrl)" target="_blank" rel="noopener noreferrer">@item.Site</a>
                                                    </span>
                                                    <span class="rn-post-item-author">
                                                        Bởi
                                                        <a href="@(item.LinkUrl)" target="_blank" rel="noopener noreferrer">@item.Author</a>
                                                    </span>
                                                </div>
                                                <div class="rn-recent-post-item-title">
                                                    <h3>
                                                        <a href="@(item.LinkUrl)" target="_blank" rel="noopener noreferrer">@item.Title</a>
                                                    </h3>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                }
                                <!-- End Extra Small Post-->
                            </ul>
                        </div>
                    </section>
                    <!-- End Widget Item-->
                    <!-- Widget Item-->
                    <section class="rn-widget">
                        <h2 class="rn-widget-title">Tags</h2>
                        <div class="rn-widget-content">
                            <div class="tags">
                                <a href="#">ảnh</a>
                                <a href="#">đèo</a>
                                <a href="#">săn mây</a>
                                <a href="#">thuê xe</a>
                                <a href="#">pha đin</a>
                                <a href="#">leo núi</a>
                                <a href="#">phượt</a>
                            </div>
                        </div>
                    </section>
                    <!-- End Widget Item-->
                </aside>
                <!-- End Sidebar-->
            </div>
        </div>
    </div>
</div>
<!-- End Page Content-->