@model MainData
<!-- Page Title-->
<div class="rn-page-title" id="rn-page-service">
    <div class="rn-pt-overlayer"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="rn-page-title-inner">
                    <h1>Dịch vụ</h1>
                    <p>Luôn mang đến cho khách hàng những trải nghiệm tốt nhất khi lựa chọn chúng tôi</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page Title-->
<!-- What We Offer-->
<section class="rn-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <!-- Section Title-->
                <div class="rn-section-title">
                    <h2 class="rn-title">Những dịch vụ chúng tôi cung cấp</h2>
                    <p>Đồng hành cùng bạn trên những nẻo đường Tây Bắc.</p>
                    <span class="rn-title-bg">Những dịch vụ chúng tôi cung cấp</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">

                <!-- Service Item-->
                <div class="rn-service-item">
                    <div class="rn-service-icon">
                        <i class="lnr lnr-star"></i>
                    </div>
                    <div class="rn-service-title">Đảm bảo giá tốt nhất</div>
                    <div class="rn-service-desc">
                        <p>Chúng tôi mang đến nhiều lựa chọn với các mức giá cả phù hợp cho mọi khách hàng.</p>
                    </div>
                </div>
                <!-- End Service Item-->

            </div>
            <div class="col-lg-4 col-md-6">

                <!-- Service Item-->
                <div class="rn-service-item">
                    <div class="rn-service-icon">
                        <i class="lnr lnr-phone-handset"></i>
                    </div>
                    <div class="rn-service-title">Đặt chỗ online</div>
                    <div class="rn-service-desc">
                        <p>Chỉ cần gọi đến hotline hoặc nhắn tin đến page facebook. Chúng tôi sẽ tư vấn giúp bạn có chuyến đi hài lòng.</p>
                    </div>
                </div>
                <!-- End Service Item-->

            </div>
            <div class="col-lg-4 col-md-6">

                <!-- Service Item-->
                <div class="rn-service-item">
                    <div class="rn-service-icon">
                        <i class="lnr lnr-user"></i>
                    </div>
                    <div class="rn-service-title">Phù hợp với mọi người</div>
                    <div class="rn-service-desc">
                        <p>Bạn muốn sự riêng tư hay lựa chọn đi theo đoàn. Chúng tôi có các lựa chọn phù hợp cho bạn.</p>
                    </div>
                </div>
                <!-- End Service Item-->

            </div>
            <div class="col-lg-4 col-md-6">

                <!-- Service Item-->
                <div class="rn-service-item">
                    <div class="rn-service-icon">
                        <i class="lnr lnr-car"></i>
                    </div>
                    <div class="rn-service-title">Di chuyển linh hoạt</div>
                    <div class="rn-service-desc">
                        <p>Bạn có thể lựa chọn phương tiện di chuyển phù hợp cho mình như thuê xe ô tô hoặc trải nghiệm trên các cung đường bằng xe máy.</p>
                    </div>
                </div>
                <!-- End Service Item-->

            </div>
            <div class="col-lg-4 col-md-6">

                <!-- Service Item-->
                <div class="rn-service-item">
                    <div class="rn-service-icon">
                        <i class="lnr lnr-calendar-full"></i>
                    </div>
                    <div class="rn-service-title">Đặt chỗ bất cứ lúc nào</div>
                    <div class="rn-service-desc">
                        <p>Bạn có thể lựa chọn lịch trình phù hợp với thời gian linh hoạt nhất.</p>
                    </div>
                </div>
                <!-- End Service Item-->

            </div>
            <div class="col-lg-4 col-md-6">

                <!-- Service Item-->
                <div class="rn-service-item">
                    <div class="rn-service-icon">
                        <i class="lnr lnr-rocket"></i>
                    </div>
                    <div class="rn-service-title">Hỗ trợ nhanh chóng</div>
                    <div class="rn-service-desc">
                        <p>Nhân viên của chúng tôi sẽ hỗ trợ bạn mọi lúc với thời gian nhanh nhất. Chắc chắn sẽ làm bạn hài lòng.</p>
                    </div>
                </div>
                <!-- End Service Item-->

            </div>
        </div>
    </div>
</section>
<!-- End What We Offer-->
<!-- Call To Action-->
<section class="rn-section rn-service-c2a" id="rn-page-contact">
    <div class="rn-section-overlayer"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Bạn cần tư vấn ngay?</h2>
                <p>Thông tin về thời gian di chuyển, các điểm checkin đẹp, những món ăn ngon và nhiều thứ khác.</p>
                <a class="btn btn-main btn-lg btn-shadow" href="@(ViewData["MessagerUrl"])" target="_blank" rel="noopener noreferrer" data-tooltip="Bấm vào để liên hệ tư vấn ngay">Liên hệ ngay</a>
            </div>
        </div>
    </div>
</section>
<!-- End Call To Action-->
<!-- Clients-->
<section class="rn-section rn-section-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <!-- Section Title-->
                <div class="rn-section-title   ">
                    <h2 class="rn-title">Khách hàng nhận xét về chúng tôi</h2>
                    <p>Phản hồi của bạn giúp chúng tôi hoàn thiện hơn dịch vụ của mình.</p>
                    <span class="rn-title-bg">Khách hàng nhận xét về chúng tôi</span>
                </div>

                <div class="rn-testimonials">
                    <div class="rn-testimonials-carousel carousel slide" id="rn-testimonials" data-ride="carousel">
                        <div class="carousel-inner">

                            @foreach (var review in Model.Reviews.OrderByDescending(e => e.Rate))
                            {
                                <div class="@($"carousel-item " + (Model.Reviews.IndexOf(review) == 0 ? "active" : ""))">

                                    <!-- Testimonial Item-->
                                    <blockquote class="rn-testimonial-item">
                                        <div class="rn-testimonial-author">
                                            <div class="rn-testimonial-author-thumb">
                                                <img src="@(review.Img)" alt="@review.Name" style="width:60px; height:60px;"/>
                                            </div>
                                            <div class="rn-testimonial-author-info">
                                                <strong>@review.Name</strong>
                                                <p>@review.Note</p>
                                            </div>
                                        </div>
                                        <p>@review.Content</p>
                                        <footer>
                                            <div class="rn-testimonial-rating">
                                                @for (int i = 0; i < @review.Rate; i++)
                                                {
                                                    <i class="fas fa-star"></i>
                                                }
                                            </div>
                                        </footer>
                                    </blockquote>
                                </div>
                            }
                        </div>
                        <a class="carousel-control-prev" href="#rn-testimonials" role="button" data-slide="prev">
                            <i class="fas fa-angle-left" aria-hidden="true"></i>
                        </a>
                        <a class="carousel-control-next" href="#rn-testimonials" role="button" data-slide="next">
                            <i class="fas fa-angle-right" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>