@model News

<div class="row">
    <div class="col-6">
        <div class="row">
            <div class="col-12">
                <div class="rn-input-group">
                    <label>Ảnh mô tả</label>
                    <div class="rn-icon-input">
                        <i class="fa fa-globe"></i>
                        <input type="text" value="@Model.Img" disabled>
                    </div>
                    <input type="file" name="ImgFiles" placeholder="Chọn file">
                </div>
            </div>
            <div class="col-12">
                <div class="rn-input-group">
                    <div class="rn-input-group">
                        <label>Thể loại</label>
                        <div class="rn-icon-input">
                            <i class="fa fa-calendar"></i>
                            <div style="padding-left: 35px;">
                                @Html.DropDownListFor(e => e.Category,
                                         new SelectList(Model.CategorysList, "ValueStr", "Description"))
                            </div>
                            @* <select name="DayNumbers" value="@Model.DayNumbers" style="padding-left: 35px;">
                            <option value="1">1 ngày</option>
                            <option value="2">2 ngày</option>
                            <option value="3">3 ngày</option>
                            <option value="4">4 ngày</option>
                            <option value="5">Từ 5 ngày</option>
                            </select> *@
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div><div class="col-6">
        <div class="rn-input-group">
            <img src="@Model.Img" class="img-rounded" width="100%">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="rn-input-group">
            <label>Tiêu đề</label>
            <div class="rn-icon-input">
                <i class="fa fa-mobile"></i>
                <input type="text" name="Title" placeholder="Tiêu đề" value="@Model.Title" required>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="rn-input-group">
            <label>Tóm tắt</label>
            <div class="rn-icon-input">
                <i class="fa fa-envelope"></i>
                <textarea name="Description" placeholder="Tóm tắt" rows="4" value="@Model.Description" required>@Model.Description</textarea>
            </div>
        </div>
    </div>
</div>
@* <div class="row">
    <div class="col-6">
        <div class="rn-input-group">
            <label>Nguồn</label>
            <div class="rn-icon-input">
                <i class="fa fa-mobile"></i>
                <input type="text" name="Site" placeholder="Nguồn" value="@Model.Site" required>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="rn-input-group">
            <label>Tác giả</label>
            <div class="rn-icon-input">
                <i class="fa fa-mobile"></i>
                <input type="text" name="Author" placeholder="Tác giả" value="@Model.Author" required>
            </div>
        </div>
    </div>
</div> *@
@* <div class="row">
    <div class="col-12">
        <div class="rn-input-group">
            <label>Link bài</label>
            <div class="rn-icon-input">
                <i class="fa fa-mobile"></i>
                <input type="text" name="LinkUrl" placeholder="Link bài" value="@Model.LinkUrl" required>
            </div>
        </div>
    </div>
</div> *@
<div class="row">
    <div class="col-4">
        <div class="rn-input-group">
            <label>Lượt like</label>
            <div class="rn-icon-input">
                <i class="fa fa-clock"></i>
                <input type="text" name="Like" placeholder="Lượt like" value="@Model.Like" required>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="rn-input-group">
            <label>Lượt view</label>
            <div class="rn-icon-input">
                <i class="fa fa-calendar"></i>
                <input type="text" name="View" placeholder="Lượt view" value="@Model.View" required>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="rn-input-group">
            <label>Ngày đăng</label>
            <div class="rn-icon-input">
                <i class="fa fa-calendar"></i>
                <input type="date" name="PostDate" placeholder="Ngày đăng" value="@Model.PostDate">
            </div>
        </div>
    </div>
</div>
