@model Tour

<div class="row">
    <div class="col-8">
        <div class="row">
            <div class="col-12">
                <div class="rn-input-group">
                    <label>Tên điểm đến</label>
                    <div class="rn-icon-input">
                        <i class="fa fa-mobile"></i>
                        <input type="text" name="Title" placeholder="Tên điểm đến" value="@Model.Title" required>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="rn-input-group">
                    <label>Ảnh điểm đến</label>
                    <div class="rn-icon-input">
                        <i class="fa fa-globe"></i>
                        <input type="text" value="@Model.Img" disabled>
                    </div>
                    <input type="file" name="ImgFiles" placeholder="Chọn file">
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="rn-input-group">
            <img src="@Model.Img" class="img-rounded" width="100%">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="rn-input-group">
            <label>Tóm tắt</label>
            <div class="rn-icon-input">
                <i class="fa fa-envelope"></i>
                <textarea name="Description" placeholder="Tóm tắt" rows="4" value="@Model.Description" required>@Model.Description</textarea>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <div class="rn-input-group">
            <label>Khoảng cách(km)</label>
            <div class="rn-icon-input">
                <i class="fa fa-car"></i>
                <input type="text" name="Traffic" placeholder="Khoảng cách(km)" value="@Model.Traffic">
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="rn-input-group">
            <div class="rn-input-group">
                <label>Điểm đánh giá(0.0-5.0)</label>
                <div class="rn-icon-input">
                    <i class="fa fa-map-marker"></i>
                    <input type="number" step="0.1" name="Rate" placeholder="Điểm đánh giá" value="@Model.Rate">
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="rn-input-group">
            <label>Số lượt book</label>
            <div class="rn-icon-input">
                <i class="fa fa-user"></i>
                <input type="number" name="Booking" placeholder="Số lượt book" value="@Model.Booking">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="rn-input-group">
            <label>Loại điểm đến</label>
            <div class="rn-icon-input">
                <i class="fab fa-instagram"></i>
                <select name="Type" value="@Model.Type" style="padding-left: 35px;">
                    <option value="Phong cảnh thiên nhiên">Phong cảnh thiên nhiên</option>
                    <option value="Di tích lịch sử">Di tích lịch sử</option>
                    <option value="Công trình kiến trúc">Công trình kiến trúc</option>
                    <option value="Thắng cảnh tâm linh">Thắng cảnh tâm linh</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="rn-input-group">
            <div class="rn-input-group">
                <label>Giá tour(VNĐ)</label>
                <div class="rn-icon-input">
                    <i class="fab fa-facebook-f"></i>
                    <input type="number" name="Price" placeholder="Giá tour" value="@Model.Price">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="row">
            <div class="col-12">
                <div class="rn-input-group">
                    <label>Số ngày</label>
                    <div class="rn-icon-input">
                        <i class="fa fa-calendar"></i>
                        <div style="padding-left: 35px;">
                            @Html.DropDownListFor(e => e.DayNumbers,
                                     new SelectList(Model.DayNumbersList, "Value", "Description"))
                        </div>
                        @* <select name="DayNumbers" value="@Model.DayNumbers" style="padding-left: 35px;">
                        <option value="1">1 ngày</option>
                        <option value="2">2 ngày</option>
                        <option value="3">3 ngày</option>
                        <option value="4">4 ngày</option>
                        <option value="5">Từ 5 ngày</option>
                        </select> *@
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="rn-input-group">
                    <label>Ảnh nội dung</label>
                    <div class="rn-icon-input">
                        <i class="fa fa-globe"></i>
                        <input type="text" value="@Model.ContentImg" disabled>
                    </div>
                    <input type="file" name="ContentImgFiles" placeholder="Chọn file">
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="rn-input-group">
            <img src="@Model.ContentImg" class="img-rounded" width="100%">
        </div>
    </div>
</div>
