@model MainData
<script>
    function Login() {
        $.ajax({
            type: 'POST',
            url: '/Home/Login',
            data: $('#frm-login').serialize(),
            success: function (data) {
                if (data == "1") {
                    location.reload();
                }
                else {
                    alert("Thông tin đăng nhập chưa đúng");
                }
            }
        })
    }
</script>

<div class="rn-page-title" id="rn-page-cart">
    <div class="rn-pt-overlayer"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="rn-page-title-inner">
                    <h1>Tin tức</h1>
                    <p>Nơi quản trị viên có thể thay đổi nội dung trang web theo ý muốn.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page Content-->
<section class="rn-section">
    <div style="margin-left: 15px; margin-right: 15px;">
        @if (!Model.IsAuthenticated)
        {
            <div class="row">
                <div class="col-lg-6">
                    <h2 class="rn-simple-title">Bạn cần đăng nhập để sử dụng trang này</h2>
                    <div class="rn-contact-form">
                        <form id="frm-login" action="/Home/Login" method="post">
                            <div class="row mb-30">
                                <div class="col-6">
                                    <div class="rn-icon-input">
                                        <i class="fa fa-user"></i>
                                        <input type="text" name="userName" placeholder="Tên đăng nhập" required>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="rn-icon-input">
                                        <i class="fa fa-lock"></i>
                                        <input type="password" name="pass" placeholder="Mật khẩu" required>
                                    </div>
                                </div>
                            </div>
                            <div class="text-right">
                                <input class="btn btn-main btn-lg btn-shadow" type="submit" value="Đăng nhập">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-10">
                    <div class="rn-contact-form">
                        <form id="frm-edit-data" action="/Manage/UpdateNews" method="post" enctype="multipart/form-data" accept-charset="utf-8">
                            <div id="news-edit-data">
                                @Html.Partial("_News_EditPartialView", new News())
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="rn-input-group">
                                        <label>Mô tả</label>
                                        <div class="rn-icon-input">
                                            <i class="fa fa-envelope"></i>
                                            <textarea id="news-note-textarea" name="Note" placeholder="Nội dung"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-right">
                                <input class="btn btn-main btn-lg btn-shadow" type="submit" value="Lưu">
                                <input class="btn btn-main btn-lg btn-shadow" type="button" value="Nhập lại" onclick="SelectNews('')">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-1"></div>
            </div>
            <div class="row">
                <div id="list-data" class="col-lg-12">
                    @Html.Partial("_News_ListPartialView", Model)
                </div>
            </div>
        }
    </div>
</section>
<!-- End Page Content-->
<script>
    tinymce.init({
        selector: '#news-note-textarea',
        plugins: [
            'advlist', 'autolink', 'link', 'image', 'lists', 'charmap', 'preview', 'anchor', 'pagebreak',
            'searchreplace', 'wordcount', 'visualblocks', 'code', 'fullscreen', 'insertdatetime', 'media',
            'table', 'emoticons', 'template', 'help'
        ],
        toolbar: 'undo redo | styles | bold italic | alignleft aligncenter alignright alignjustify | ' +
            'bullist numlist outdent indent | link image | print preview media fullscreen | ' +
            'forecolor backcolor emoticons | help',
        menu: {
            favs: { title: 'My Favorites', items: 'code visualaid | searchreplace | emoticons' }
        },
        menubar: 'favs file edit view insert format tools table help',
        content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:16px }'
    });


</script>

<script>
    function SelectNews(id) {
        $.ajax({
            url: '@Url.Action("SelectNews", "Manage")',
            method: "POST",
            data: { id: id },
            success: function (data) {
                $("#news-edit-data").html(data);
                document.getElementById('frm-edit-data').scrollIntoView();
                tinymce.get("news-note-textarea").setContent('');

                $.ajax({
                    url: '@Url.Action("GetNewsNote", "Manage")',
                    method: "GET",
                    data: { id: id },
                    success: function (data) {
                        tinymce.get("news-note-textarea").setContent(data);
                    }
                })
            }
        });
    }

    function DeleteNews(id) {
        if (confirm("Bạn có đồng ý xóa?") == true) {
            $.ajax({
                url: '@Url.Action("DeleteNews", "Manage")',
                method: "POST",
                data: { id: id },
                success: function (data) {
                    $("#list-data").html(data);
                }
            });
        }
    }

    function GoPageNews(page) {
        $.ajax({
            url: '@Url.Action("GoPageNews", "Manage")',
            method: "POST",
            data: { page: page },
            success: function (data) {
                $("#list-data").html(data);
            }
        });
    }
</script>