@model MainData
<script>
    function Login() {
        $.ajax({
            type: 'POST',
            url: '/Home/Login',
            data: $('#frm-login').serialize(),
            success: function (data) {
                if (data == "1") {
                    location.reload();
                }
                else {
                    alert("Thông tin đăng nhập chưa đúng");
                }
            }
        })
    }
</script>

<div class="rn-page-title" id="rn-page-cart">
    <div class="rn-pt-overlayer"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="rn-page-title-inner">
                    <h1>Điểm đến</h1>
                    <p>Nơi quản trị viên có thể thay đổi nội dung trang web theo ý muốn.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page Content-->
<section class="rn-section">
    <div style="margin-left: 15px; margin-right: 15px;">
        @if (!Model.IsAuthenticated)
        {
            <div class="row">
                <div class="col-lg-6">
                    <h2 class="rn-simple-title">Bạn cần đăng nhập để sử dụng trang này</h2>
                    <div class="rn-contact-form">
                        <form id="frm-login" action="/Home/Login" method="post">
                            <div class="row mb-30">
                                <div class="col-6">
                                    <div class="rn-icon-input">
                                        <i class="fa fa-user"></i>
                                        <input type="text" name="userName" placeholder="Tên đăng nhập" required>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="rn-icon-input">
                                        <i class="fa fa-lock"></i>
                                        <input type="password" name="pass" placeholder="Mật khẩu" required>
                                    </div>
                                </div>
                            </div>
                            <div class="text-right">
                                <input class="btn btn-main btn-lg btn-shadow" type="submit" value="Đăng nhập">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="row">
                <div class="col-lg-4">
                    <div class="rn-contact-form">
                        <form id="frm-edit-data" action="/Manage/UpdateTour" method="post" enctype="multipart/form-data" accept-charset="utf-8">
                            @Html.Partial("_Tour_EditPartialView", new Tour())
                        </form>
                    </div>
                </div>
                <div id="list-data" class="col-lg-8">
                    @Html.Partial("_Tour_ListPartialView", Model)
                </div>
            </div>
        }
    </div>
</section>
<!-- End Page Content-->
<script>
    function SelectTour(id) {
        $.ajax({
            url: '@Url.Action("SelectTour", "Manage")',
            method: "POST",
            data: { id: id },
            success: function (data) {
                $("#frm-edit-data").html(data);
            }
        });
    }

    function DeleteTour(id) {
        if (confirm("Bạn có đồng ý xóa?") == true) {
            $.ajax({
                url: '@Url.Action("DeleteTour", "Manage")',
                method: "POST",
                data: { id: id },
                success: function (data) {
                    $("#list-data").html(data);
                }
            });
        }
    }

    function GoPage(page) {
        $.ajax({
            url: '@Url.Action("GoPage", "Manage")',
            method: "POST",
            data: { page: page },
            success: function (data) {
                $("#list-data").html(data);
            }
        });
    }
</script>